* {
  margin: 0;
  padding: 0;
}

.container {
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
  /* background: red; */
  display: flex;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 20px;
}
a {
  text-decoration: none;
}

.myname h1 {
  font-size: 18px;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 15px;
  padding: 10px;
  color: #fff;
  background: red;
  border-radius: 6px;
}

.button.outline {
  background: transparent;
  color: red;
  border: 1px solid red;
}

.picandform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 20px;
  height: 100px;
}

.picture h3 {
  background: blue;
  width: 50%;
}

.myforms h4 {
  background-color: blueviolet;
  width: 50%;
}
