* {
  padding: 0;
  border: 0;
}

.container {
  text-decoration-style: inherit;
  padding: auto;
}

.input-1 {
  background-color: grey;
  color: red;
  text-align: center;
  text-decoration: wavy;
}

#top-2 {
  color: brown;
}
